#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    macros {
        list: list {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp SPACE &kp MINUS &kp SPACE &kp LANGUAGE_1>;
            label = "LIST";
        };

        email: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp C &kp O &kp H &kp K &kp I &kp N0 &kp N3 &kp N0 &kp N5 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "NEW_MACRO";
        };

        phone: address {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N0 &kp N8 &kp N0 &kp N5 &kp N3 &kp N5 &kp N9 &kp N5 &kp N1 &kp N5 &kp N0>;
            label = "ADDRESS";
        };
    };

    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans            &trans   &trans         &trans       &trans                                            &trans       &trans  &trans     &trans   &trans                  &trans
&trans  &kp Q             &kp W    &kp E          &kp R        &kp T                                             &kp Y        &kp U   &kp I      &kp O    &kp P                   &trans
&trans  &hm LEFT_SHIFT A  &kp S    &kp D          &kp F        &kp G      &trans            &trans               &kp H        &kp J   &kp K      &kp L    &mt RIGHT_SHIFT DELETE  &trans
&trans  &kp Z             &kp X    &kp C          &kp V        &kp B      &kp B             &kp B                &kp N        &kp M   &kp COMMA  &kp DOT  &mt RIGHT_SHIFT FSLH    &trans
&trans  &kp ESCAPE        &kp F10  &kp RIGHT_ALT  &lt 1 SPACE  &lt 2 TAB  &lt 3 LANGUAGE_2  &mt RIGHT_GUI LANG1  &lt 3 ENTER  &trans  &trans     &trans   &kp RCTRL               &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans         &trans            &trans                &trans            &trans                                &trans                &trans                 &trans             &trans                &trans  &trans
&trans  &kp GRAVE      &kp LS(NUMBER_6)  &kp NON_US_BACKSLASH  &kp MINUS         &kp LS(MINUS)                         &kp LS(N9)            &kp LS(N0)             &kp LS(SEMICOLON)  &kp EQUAL             &trans  &trans
&trans  &kp LS(SLASH)  &kp LS(NUMBER_1)  &mkp RCLK             &mkp LCLK         &kp LS(NUMBER_4)      &trans  &trans  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp SEMICOLON      &kp LS(NUMBER_3)      &trans  &trans
&trans  &kp LS(EQUAL)  &kp LS(N5)        &kp LS(N7)            &kp LS(NUMBER_2)  &kp NON_US_BACKSLASH  &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SINGLE_QUOTE   &kp LS(SINGLE_QUOTE)  &trans  &trans
&trans  &trans         &trans            &trans                &trans            &trans                &trans  &trans  &trans                &trans                 &trans             &trans                &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans        &trans        &trans        &trans                  &trans  &trans     &trans    &trans     &trans  &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans                  &trans  &trans     &mkp MB3  &trans     &trans  &trans
&trans  &kp N0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans  &trans  &trans  &mkp LCLK  &trans    &mkp RCLK  &trans  &trans
&trans  &trans  &kp N7        &kp N8        &kp N9        &trans  &trans  &trans  &trans  &trans     &trans    &trans     &trans  &trans
&trans  &trans  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans     &trans    &trans     &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans          &trans         &trans                &trans                 &trans                           &trans             &trans                 &trans        &trans         &trans         &trans
&trans  &kp F11         &kp F12        &list                 &kp LC(UP_ARROW)       &phone                           &email             &kp LEFT_ARROW         &kp UP_ARROW  &kp RIGHT      &kp LC(LG(Q))  &trans
&trans  &kp LEFT_SHIFT  &trans         &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LC(LS(TAB))  &trans  &trans  &kp LG(BACKSLASH)  &kp LC(LEFT)           &kp DOWN      &kp LC(RIGHT)  &trans         &trans
&trans  &kp LA(Z)       &kp LA(X)      &kp LG(LC(V))         &kp LA(SPACE)          &kp LC(TAB)      &trans  &trans  &kp LG(LS(N))      &kp LC(RIGHT_BRACKET)  &kp GRAVE     &trans         &trans         &trans
&trans  &kp LG(MINUS)   &kp LG(EQUAL)  &trans                &trans                 &trans           &trans  &trans  &trans             &trans                 &trans        &trans         &trans         &trans
            >;
        };
    };
};
